/*Обнуление*/

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  color: #252b42;
  line-height: 1;
  height: 100%;
  min-width: 320px;
  background: #fafafa;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.container {
  max-width: 1046px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  flex: 1 1 auto;
}

.page__services {
  position: relative;
  z-index: 2;
  margin-top: -111px;
}

.page__clients:not(:last-child) {
  margin-bottom: 10px;
}

/* ---HEADER-BLOCK---------------------- */

.header-block {
  text-align: center;
  letter-spacing: 0.2px;
}

.header-block__title {
  font-size: 40px;
  line-height: 142%;
  font-weight: 700;
}

.header-block__title:not(:last-child) {
  margin-bottom: 10px;
}

.header-block__subtitle {
  color: #737373;
  line-height: 142%;
}

@media (max-width: 992px) {
  .header-block__title {
    font-size: 35px;
  }
}

@media (max-width: 767px) {
  .header-block__title {
    font-size: 30px;
  }
}

/* ---HEADER------------------------ */

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}

.header__logo-img {
  width: 91px;
}

.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}

@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}

.header__menu {
  margin-left: 133px;
  padding: 5px 0;
}

@media (max-width: 992px) {
  .header__menu {
    margin-left: 80px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    margin-left: 40px;
  }
}

@media (max-width: 479px) {
  .header__menu {
    margin-left: 20px;
  }
}

.header__menu-link {
  text-decoration: none;
  color: #737373;
  font-weight: 600;
  line-height: calc(24 / 14 * 100%);
  letter-spacing: 0.2px;
}

.header__menu-link:hover {
  text-decoration: underline;
}

@media (max-width: 479px) {
  .header__menu-link {
    font-size: 18px;
  }
}

.header__menu-item {
  list-style-type: none;
}

.header__menu-item:not(last-child) {
  margin-right: 21px;
}

.header__menu-list {
  display: flex;
  flex-wrap: wrap;
}

/* ---MAIN-BLOCK------------------------ */

.main-block {
  position: relative;
}

.main-block__body {
  padding-top: 184px;
  padding-bottom: 191px;
  position: relative;
  z-index: 2;
  max-width: 400px;
}

@media (max-width: 992px) {
  .main-block__body {
    padding-top: 120px;
    padding-bottom: 191px;
  }
}

@media (max-width: 479px) {
  .main-block__body {
    padding-top: 115px;
    padding-bottom: 160px;
  }
}

.main-block__body > *:not(:last-child) {
  margin-bottom: 35px;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 1300px) {
  .main-block__img {
    object-position: right;
  }
}

@media (max-width: 992px) {
  .main-block__image {
    opacity: 0.5;
  }
}

.main-block__title {
  font-size: 58px;
  line-height: calc(80 / 58 * 100%);
  /* line-height: 137%; */
  font-weight: 800;
  letter-spacing: 0.2px;
}

@media (max-width: 479px) {
  .main-block__title {
    font-size: 42px;
  }
}

.main-block__text {
  color: #737373;
  font-size: 20px;
  /* line-height: 1.5; */
  line-height: 150%;
}

@media (max-width: 479px) {
  .main-block__text {
    color: #585858;
  }
}

.main-block__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0;
}

.main-block__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 37px;
  padding: 5px 36px;
  min-height: 48px;
  letter-spacing: 0.2px;
  font-weight: 700;
  line-height: 150%;
  text-decoration: none;
  text-align: center;
  margin: 10px 0;
  transition: all 0.3s ease 0s;
}

@media (max-width: 479px) {
  .main-block__button {
    flex: 1 1 100%;
  }
}

@media (min-width: 479px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}

.main-block__button-orange {
  background: #ff7b47;
  color: #fff;
}

.main-block__button-orange:hover {
  background-color: #fff;
  color:#ff7b47;
 }

.main-block__button-border {
  color: #0d5c63;
  border: 1px solid #0d5c63;
}

.main-block__button-border:hover {
  color: #fff;
  background-color: #0d5c63;
 }

/*------------------------------------------*/

@media (min-width: 670px) {
  .services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
}

.services__column {
  flex: 0 1 33.333%;
}

@media (min-width: 670px) {
  .services__column {
    padding: 0 15px;
  }
}

@media (max-width: 992px) {
  .services__column {
    flex: 0 1 50%;
  }
  .services__column:not(:last-child) {
    margin-bottom: 30px;
  }
  .services__column:last-child {
    flex: 1 1 100%;
  }
}

.services__item {
  height: 100%;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  padding: 35px;
}

@media (max-width: 479px) {
  .services__item {
    padding: 25px;
  }
}

.item-service > *:not(:last-child) {
  margin-bottom: 10px;
}

.item-service__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
}

.item-service__text {
  color: #737373;
  line-height: 142%;
}

.item-service-green {
  background-color: #0d5c63;
}

.item-service-green .item-service__title {
  color: #fff;
}

.item-service-green .item-service__text {
  color: #fff;
}

/*-------------------------------------*/

.advantages {
  padding: 80px 0;
}

@media (max-width: 992px) {
  .advantages {
    padding: 50px 0;
  }
}

@media (max-width: 767px) {
  .advantages {
    padding: 40px 0;
  }
}

.advantages__header {
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .advantages__header {
    margin-bottom: 25px;
  }
}

.advantages__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px -30px;
}

.advantages__column {
  padding: 0 15px;
  flex: 0 1 25%;
  margin-bottom: 30px;
}

@media (max-width: 1020px) {
  .advantages__column {
    flex: 0 1 50%;
  }
}

@media (max-width: 560px) {
  .advantages__column {
    flex: 0 1 100%;
  }
}

.advantages__item {
  background-color: #fff;
  padding: 30px;
  text-align: center;
  font-weight: 700;
}

.advantages__item > *:not(:last-child) {
  margin-bottom: 10px;
}

.advantages__value {
  font-size: 40px;
  line-height: 142%;
}

.advantages__text {
  color: #737373;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
}

.advantages__icon {
  height: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/*-------------------------------------*/

.practice {
  padding-top: 125px;
  padding-bottom: 80px;
}

@media (max-width: 993px) {
  .practice {
    padding-top: 40px;
    padding-bottom: 80px;
  }
}

@media (max-width: 767px) {
  .practice {
    padding-top: 0px;
    padding-bottom: 40px;
  }
}

.practice__header {
  margin-bottom: 45px;
}

@media (max-width: 767px) {
  .practice__header {
    margin-bottom: 25px;
  }
}

.practice__body {
  margin: 0 -20px -30px;
  display: flex;
  flex-wrap: wrap;
}

.practice__column {
  padding: 0 20px;
  flex: 0 1 25%;
  margin-bottom: 30px;
}

@media (max-width: 1040px) {
  .practice__column {
    flex: 0 1 50%;
  }
}

@media (max-width: 630px) {
  .practice__column {
    flex: 0 1 100%;
  }
}

.item-practice {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.item-practice__content {
  padding: 30px;
  flex: 1 1 auto;
}

.item-practice__link {
  color: inherit;
  display: inline-block;
}

.item-practice__link:not(:last-child) {
  margin-bottom: 15px;
}

.item-practice__link:hover {
  text-decoration: underline;
}

.item-practice__text {
  color: #737373;
  line-height: 142%;
}

.item-practice__title {
  letter-spacing: 0.1px;
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
}

.item-practice__image {
  display: block;
  padding-bottom: 60%;
}

/*-------------------------------------*/

.whoweare {
  padding-top: 80px;
  padding-bottom: 130px;
  background-color: #fff;
}

.whoweare__header {
  margin-bottom: 100px;
}

.whoweare__body {
  display: flex;
  align-items: flex-start;
}

.whoweare__video {
  flex: 0 0 57%;
  position: relative;
  padding-bottom: 42.25%;
}

.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.whoweare__content {
  flex: 1 1 auto;
  padding-left: 121px;
  padding-top: 20px;
}

.whoweare__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
}

.whoweare__text {
  color: #737373;
  line-height: 142%;
}

.whoweare__title:not(:last-child) {
  margin-bottom: 10px;
}

.whoweare__item:not(:last-child) {
  margin-bottom: 30px;
}

.whoweare__top:not(:last-child) {
  margin-bottom: 50px;
}

.item-whoweare {
  display: flex;
}

.item-whoweare__icon {
  flex: 0 0 32px;
}

.item-whoweare__body {
  flex: 1 1 auto;
  padding-left: 20px;
}

.item-whoweare__title {
  font-weight: 700;
  font-style: 16px;
  line-height: 150%;
}

.item-whoweare__title:not(:last-child) {
  margin-bottom: 5px;
  color: #737373;
}

.item-whoweare__text {
  color: #737373;
  line-height: 142%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 225px;
}

@media (max-width: 1080px) {
  .whoweare__content {
    padding-left: 50;
    padding-top: 0;
  }
}

@media (max-width: 950px) {
  .whoweare__title {
    font-size: 24px;
  }
  .whoweare__content {
    padding: 0;
  }
  .whoweare__header {
    margin-bottom: 30px;
  }
  .whoweare__body {
    flex-direction: column-reverse;
    align-items: stretch;
  }
  .whoweare__video {
    padding-bottom: 56.25%;
  }
  .whoweare__video:not(:last-child) {
    margin-top: 50px;
  }
  .whoweare {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .whoweare {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .whoweare__video:not(:last-child) {
    margin-top: 30px;
  }
  .whoweare__top:not(:last-child) {
    margin-bottom: 30px;
  }
}

/*-------------------------------------*/

.clients {
  padding-top: 50px;
}

@media (max-width: 767px) {
  .clients {
    padding-top: 30px;
  }
}

.clients__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.clients__item {
  flex: 0 1 16.6667%;
  text-align: center;
  padding: 8px 15px;
  min-width: 140px;
}

.clients__item img {
  max-width: 100%;
}

/*-------------------------------------*/

.subscribe {
  position: relative;
  padding-bottom: 20px;
}

.subscribe::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: #252b42;
  width: 100%;
  height: 77px;
}

.subscribe__body {
  padding: 30px 50px;
  align-items: center;
  background-color: #17213c;
  border-radius: 2px;
  position: relative;
  z-index: 2;
}

@media (min-width: 1070px) {
  .subscribe__body {
    margin: 0 30px;
  }
}

.subscribe__title {
  flex: 0 1 50%;
  font-size: 133%;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: 0.1px;
  color: #fff;
}

@media (max-width: 810px) {
  .subscribe__title {
    margin-bottom: 20px;
  }
  .subscribe__body {
    margin: 0 -15px;
    padding: 20px 15px;
  }
}

@media (min-width: 810px) {
  .subscribe__title {
    max-width: 266px;
  }
  .subscribe__body {
    display: flex;
    justify-content: space-between;
  }
}

.subscribe__form {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
}

.subscribe__input {
  width: 100%;
  flex: 1 1 auto;
  min-height: 58px;
  padding: 0px 20px;
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 5px 0px 0px 5px;
  color: #737373;
  box-sizing: border-box;
  border-right: 0;
}

.subscribe__input:focus {
  color: #000;
}

.subscribe__button {
  background: #ff7b47;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  min-height: 58px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 0px 22px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.subscribe__button:hover {
  background: #ca6137;
}

@media (max-width: 810px) {
  .subscribe__button {
    padding: 0px 15px;
  }
  .subscribe__input {
    padding: 0px 15px;
  }
}

/*-------------------------------------*/

.getintouch {
  padding-top: 80px;
  padding-bottom: 135px;
}

.getintouch__header {
  margin-bottom: 80px;
}

.getintouch__items {
  margin: 0 -15px;
}

.item-getintouch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 50px 15px;
}

.item-getintouch_active {
  background: #252b42;
  padding: 80px 15px;
  color: #fff;
}

.item-getintouch_active .item-getintouch__button {
  border: 1px solid #fff;
  color: #fff;
}

.item-getintouch__emails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.getintouch__item {
  flex: 0 1 33.333%;
}

.item-getintouch__email {
  color: inherit;
  font-weight: 600;
  line-height: 150%;
  font-size: 16px;
}

.item-getintouch__email:hover {
  text-decoration: underline;
}

.item-getintouch > *:not(:last-child) {
  margin-bottom: 15px;
}

.item-getintouch__button {
  border: 1px solid #ff7b47;
  min-height: 44px;
  border-radius: 5px;
  color: #ff7b47;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 142%;
  font-weight: 600;
  padding: 5px 20px;
  transition: all 0.3s ease 0s;
}

.item-getintouch__label {
  font-weight: 700;
  font-style: 16px;
  line-height: 150%;
}

.item-getintouch__button:hover {
  background-color: #ff7b47;
  border: 1px solid #ff7b47;
  color: #fff;
}

@media (min-width: 992px) {
  .getintouch__items {
    margin: 0;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 992px) {
  .getintouch {
    padding: 50px 0;
  }
  .getintouch__header {
    margin-bottom: 50px;
  }
  .item-getintouch_active {
    padding: 50px 15px;
  }
}

@media (max-width: 767px) {
  .getintouch__header {
    margin-bottom: 30px;
  }
}

/*-------------------------------------*/

.contact {
  background-color: #fff;
  padding: 42px 0;
}

@media (min-width: 767px) {
  .contact__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contact__content {
    padding-right: 20px;
  }
}

.contact__title {
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 24px;
  line-height: 133%;
}

.contact__title:not(:last-child) {
  margin-bottom: 10px;
}

.contact__text {
  color: #737373;
  line-height: 142%;
}

.contact__button {
  display: flex;
  background-color: #ff7b47;
  border-radius: 5px;
  min-height: 58px;
  padding: 5px 40px;
  transition: background-color 0.3s ease 0s;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.contact__button:hover {
  background-color: #aa5330;
}

.contact__content {
  padding-bottom: 20px;
}

/* ---FOOTER------------------------ */

.footer {
}

.footer__top {
  background: #17213c;
  padding: 35px 0;
}

.footer__main {
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.footer__columns {
  padding: 15px 15px;
  flex: 0 1 16.667%;
}

.footer__columns:last-child {
  flex: 0 1 33.334%;
}

.footer__label {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 20px;
}

.menu-footer__link {
  color: #fff;
  letter-spacing: 0.2px;
  display: inline-block;
  line-height: 171%;
}

.menu-footer__item:not(:last-child) {
  margin-bottom: 10px;
}

.contacts-footer {
  display: flex;
  flex-direction: column;
}

.contacts-footer__item {
  padding-left: 34px;
  display: flex;
  align-items: center;
  min-height: 30px;
  color: #fff;
  line-height: 142%;
}

.contacts-footer__item:hover {
  text-decoration: underline;
}

.contacts-footer__item:not(:last-child) {
  margin-bottom: 12px;
}

.contacts-footer__item_phone {
  background: url(../img/footer/icons/01.svg) 0 0 no-repeat;
}

.contacts-footer__item_map {
  background: url(../img/footer/icons/02.svg) 0 0 no-repeat;
}

.contacts-footer__item_email {
  background: url(../img/footer/icons/03.svg) 0 0 no-repeat;
}

.menu-footer__link:hover {
  text-decoration: underline;
}

.footer__bottom {
  padding: 25px 0;
}

.social {
  display: flex;
  align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.footer__copy {
  color: #737373;
  line-height: 171%;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .footer__container {
    flex-direction: column;
  }
  .footer__copy {
    margin-bottom: 15px;
    text-align: center;
  }
}

@media (max-width: 992px) {
  .footer__columns {
    flex: 0 1 25%;
  }
  .footer__columns:last-child {
    flex: 0 1 100%;
  }
}

@media (max-width: 767px) {
  .footer__columns {
    flex: 0 1 50%;
  }
}
